.footer{
    background: rgb(31, 31, 31);
    color: whitesmoke;
    font-size: 14px;
    padding: 5px 0 10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}
.containerFooter{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    flex-basis: 33%;
}
ul{
    list-style-type: none;
}
.titleFooter{
    text-align: center;
}