.container{
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  background-color: whitesmoke;
  padding-bottom: 10px;
}
.prices{
  width: 15%;
  align-items: center;
  text-align: center;
  display: flex;
  border-bottom: 1px solid lightgrey;
}
.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.cartbutton{
  border-bottom: 1px solid lightgrey;
  font-size: 25px;
}
.title{
  text-align: center;
  font-size: 36px;
  background-color: whitesmoke;
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -20px;
  padding-top: 20px;
}