<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Woltin pikkuveli</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <div id="react"></div>
    <script src="built/bundle.js"></script>

</body>
</html>

<!-- 
When it comes to CSS, Spring Boot will
automatically serve anything found in
src/main/resources/static. Put your own
main.css file there. It is not shown in
the tutorial, since our focus is on React
and Spring Data REST, not CSS. 
-->