nav {
    flex: 1;
    text-align: center;
    Background-Color: rgb(31, 31, 31);
}

nav ul {
    display: inline-block;
    max-width: 1200px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none;
    color: white;
    font-size: 20px;
}

body {
    background-color: #a9af9f;
    margin: 0px;
}

button {
    size: 150;
}